@font-face {
    font-family: 'SpectralBridge';
    src: url('/fonts/SpectralBridgeRegular-ZVmGm.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.font-spectral-bridge {
  font-family: 'SpectralBridge', sans-serif;
}