/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, #root {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
}

.fixed-content {
    position: fixed;
    top: 0;
    left: 0;
}